/**Section.grid-content**/
section.grid-content{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section.grid-content article{
    position: relative;
    height: 30rem;
    background-size: 100% 130%;
    background-repeat: no-repeat;
    background-position: center;
}

section.grid-content article:nth-of-type(1){
    background-image: url(../images/img_1.jpg);
}

section.grid-content article:nth-of-type(2){
    background-image: url(../images/img_2.jpg);
}

section.grid-content article:nth-of-type(3){
    background-image: url(../images/img_3.jpg);
}

section.grid-content article:nth-of-type(4){
    background-image: url(../images/img_4.jpg);
}

section.grid-content article:nth-of-type(5){
    background-image: url(../images/img_5.jpg);
}

section.grid-content article:nth-of-type(6){
    background-image: url(../images/img_6.jpg);
}

section.grid-content article .background-grid-article{
    width: 100%;
    height: 100%;
    opacity: .85;
    transition: .5s;
}

section.grid-content article:hover .background-grid-article {
    opacity: 0;
}

section.grid-content article:nth-of-type(1) .background-grid-article{
    background-color: rgb(156, 124, 180);
}

section.grid-content article:nth-of-type(2) .background-grid-article{
    background-color: rgb(90, 105, 155);
}

section.grid-content article:nth-of-type(3) .background-grid-article{
    background-color: rgb(99, 135, 145);
}

section.grid-content article:nth-of-type(4) .background-grid-article{
    background-color: rgb(91, 148, 101);
}

section.grid-content article:nth-of-type(5) .background-grid-article{
    background-color: rgb(141, 111, 91);
}

section.grid-content article:nth-of-type(6) .background-grid-article{
    background-color: rgb(150, 101, 147);
}

section.grid-content article a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 5rem;
    padding-top: 10rem;
}

section.grid-content article a h2{
    max-width: 65%;
    padding-bottom: 2rem;
    font-size: 2.2rem;
    border-bottom: 1px solid var(--color-text-primary);
}

section.grid-content article a p{
    font-size: 1.7rem;
    padding-top: 2rem;
}
/**Fim da section.grid-content**/

/**Section.text-content**/
section.text-content{ 
    background-color: var(--color-background);
    padding: 3rem 0;
}

section.text-content .container h1{
    width: 35%;
    font-size: 2.5rem;
}

section.text-content .container p{
    max-width: none;
    font-size: 2rem;
    font-weight: 400;
}
/**Fim da section.text-content**/

/**Section.form-content**/
section.form-content{
    background-color: var(--color-background);
    backdrop-filter: brightness(40%);
    padding: 0 3rem 0;
}

section.form-content form .form-warper{
    display: flex;
}

section.form-content form{
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 4rem;
}

.w50{
    display: block;
    width: 50%;
}

.w100{
    width: 100%;
}

section.form-content form label{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

section.form-content form input[type=text],
section.form-content form textarea{
    background-color: var(--color-background);
    backdrop-filter: brightness(7);
    border: 0;
    margin-bottom: 2rem;
    padding-left: 1rem;
    font-size: 2rem;
}

section.form-content form .w50 input{
    width: 100%;
    line-height: 5rem;
}

section.form-content form .w50:nth-of-type(1) input{
    width: 95%;
}

section.form-content form .w100 textarea{
    width: 100%;
    padding-top: .5rem;
    height: 15rem;
    resize: none;
}

section.form-content form .form-buttons{
    display: flex;
    height: 5rem;
    line-height: 5rem;
}

section.form-content form .form-buttons input[type=submit]{
    width: 30%;
    margin-right: 2rem;

    border: 0;
    background: var(--color-text-primary);
    color: var(--color-background);
    transition: .3s;
}

section.form-content form .form-buttons input[type=submit]:hover{
    background: var(--color-hover);
}

section.form-content form .form-buttons input[type=reset]{
    width: 20%;
}

.info-content{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.info-content .info-wraper{
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(204, 204, 204, 0.185);
    display: flex;
}

.info-content .info-wraper .info-text-content{
    padding-left: 2rem;
}
 
.info-content .info-wraper .info-text-content h1{
    font-size: 3rem;
    padding-bottom: 1rem;
}

.info-content .info-wraper .info-text-content a{
    border-bottom: .5px dotted var(--color-text-primary);
    transition: .3s;
}

.info-content .info-wraper .info-text-content a:hover{
    border-bottom: none;
    color: var(--color-hover);
}

.info-content .info-wraper .info-text-content p,
.info-content .info-wraper .info-text-content a{
    font-size: 2rem;
}
/**Fim da section.form-content**/


@media screen and (min-width: 920px){
    section.grid-content{
        grid-template-columns: calc(100% / 3);
        grid-template-areas: 
        "a a b"
        "c d d"
        "e e f";
    }

    section.grid-content article{
        height: 35rem;
        background-size: 100% 100%;
    }

    section.grid-content article:nth-of-type(1){
        grid-area: a;
    }
    
    section.grid-content article:nth-of-type(2){
        grid-area: b;
    }
    
    section.grid-content article:nth-of-type(3){
        grid-area: c;
    }
    
    section.grid-content article:nth-of-type(4){
        grid-area: d;
    }
    
    section.grid-content article:nth-of-type(5){
        grid-area: e;
    }
    
    section.grid-content article:nth-of-type(6){
        grid-area: f;
    }

    section.form-content > .container{
        width: 100%;
        padding: 0 0 0 4rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        border-bottom: 1px solid rgba(204, 204, 204, 0.185);
    }

    section.form-content form{
        border-right: 1px solid rgba(204, 204, 204, 0.185);
        padding-bottom: 4rem;
        padding-right: 2rem;
        margin-bottom: 0;
    }

    section.form-content form .form-buttons input[type=submit]{
        min-width: 20rem;
        max-width: 30rem;
    }

    section.form-content form .form-buttons input[type=reset]{
        min-width: 15rem;
        max-width: 25rem;
    }

    .info-content{
        padding-top: 4rem;
        align-items: center;
    }
    
    .info-content .info-wraper{
        width: 100%;
        padding-bottom: 5rem;
        padding-left: 2rem;
        border-bottom: 1px solid rgba(204, 204, 204, 0.185);
    }

    .info-content .info-wraper:nth-of-type(3){
        border-bottom: 0;
        padding-bottom: 3rem;
    }
}